/*******************************************************************************
*
*  Layout » Main
*
*  All base styles for the layout, including grid, are defined here.
*
*******************************************************************************/

body {
  background-color: #000;
  color: #fff;
}

#container {
  width: em(484px);
  margin: 0 auto;
  padding-top: em(64px, $CONTEXT_FONT_SIZE);
  overflow: auto;
}

.bt {
  @include img_replacement;
  font-size: em(16px);
  display: block;
  background-color: #0078f8;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
  width: em(48px);
  height: em(48px);
  cursor: pointer;
}

.play-bt {
  background-image: inline-image("ui/play.svg");
}

.pause-bt {
  background-image: inline-image("ui/pause.svg");
}

.stop-bt {
  background-image: inline-image("ui/stop.svg");
}

.play-bt,
.pause-bt,
.stop-bt { display: none; }

.load-bt {
  text-indent: 0;
  width: auto;
  color: #fff;
  font-family: Silkscreen, sans-serif;
  font-size: em(24px);
  height: em(48px, 24px);
  line-height: em(48px, 24px);
  width: em(96px, 24px);
  text-align: center;
}

.title {
  font-family: Silkscreen, sans-serif;
  font-size: em(72px);
  margin-bottom: 0;
}

.subtitle {
  font-family: Silkscreen, sans-serif;
  font-size: em(24px);
  text-align: center;
}

.player-controls {
  box-sizing: border-box;
  background: #bcbcbc;
  height: em(120px);
  position: relative;
}

/*********************************************************************
*  =Song controls
*********************************************************************/

.song-controls {
  overflow: hidden;
  width: em(306px);
  height: em(48px);
  position: absolute;
  left: em(16px);
  top: em(16px);
}

.song-controls select {
  font-size: em(18px);
  width: em(200px, 18px);
  position: absolute;
  left: 0;
  top: 0;
}

.song-controls .load-bt {
  position: absolute;
  right: 0;
  top: 0;
}


/*********************************************************************
*  =Playback controls
*********************************************************************/

.playback-controls {
  overflow: hidden;
  width: em(110px);
  height: em(48px);
  position: absolute;
  right: em(16px);
  top: em(16px);
}

.playback-controls .play-bt,
.playback-controls .pause-bt {
  position: absolute;
  left: 0;
  top: 0;
}

.playback-controls .stop-bt {
  position: absolute;
  right: 0;
  top: 0;
}

/*********************************************************************
*  =Song info
*********************************************************************/

.song-info {
  color: #000;
  position: absolute;
  left: em(16px);
  top: em(80px);
}

.current-song {
  margin-bottom: 0;
  font-family: Silkscreen, sans-serif;
  font-size: em(16px);
}