/*********************************************************************
*
*  Base » Variables
*
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/

$TEXT_COLOR           : #555;
$LINK_COLOR           : #2d96d1;

$SELECTION_BACKGROUND : #4cabdb;
$SELECTION_COLOR      : #fff;

$CONTEXT_FONT_SIZE    : 16px;
$CONTEXT_SITE_WIDTH   : 1000px;
